fastapi==0.136.3
uvicorn==0.38.0

SQLAlchemy==2.0.50
asyncpg==0.30.0
psycopg2-binary==2.9.10

alembic==1.16.5

python_jose==3.5.0

passlib==1.7.4
bcrypt==4.3.0

fastapi_mail==1.6.4

python-dotenv==1.1.1
pydantic==2.13.4
pydantic_settings==2.14.1
email-validator==2.3.0

pandas==3.0.3